<div class="row">
    <div class="col-sm-6 col-md-4">
        <div id="success" class="alert alert-success {{#if noMessage}}d-none{{/if}}">
            {{successMsg}}
        </div>
    </div>
</div>

<div class="row">
    {{#each products}}
    <div class="col-sm-6 col-md-4 mt-3">
        <div class="card" style="width: 18rem;">
            <img src="{{ this.imagePath }}"
                class="card-img-top img-responsive" alt="...">
            <div class="card-body">
                <h5 class="card-title">{{ this.title }}</h5>
                <p class="card-text">{{ this.description }}</p>
                <span>Price: ${{ this.price }}</span>
                <span class="ml-auto">
                    <a href="/add-to-cart/{{this._id}}" class="btn btn-primary">Buy</a>
                </span>
            </div>
        </div>
    </div>
    {{/each}}
</div>